.img-list2 {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0.3rem;
    box-sizing: border-box;
    overflow-y: scroll;
}
.img-list1 .cont-list {
    margin-bottom: 0.2rem;
}

.img-list1 .cont-list-cont {
    width: 90%;
    margin: auto;
    margin-bottom: 0.2rem;
    box-sizing: border-box;
    padding: 0.4rem;
    background: #fff;
    margin-top: 0.2rem;
    border-radius: 0.1rem;
}

.img-list1 .cont-list-cont-felx {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.2rem;
}

.img-list1 .cont-list-cont-felx:last-child {
    margin-bottom: 0;
}

.img-list1 .cont-list-cont-felx p:first-child {
    color: #333;
    font-size: 0.26rem;
}

.img-list1 .cont-list-cont-felx p:last-child {
    color: #e4393c;
    font-size: 0.26rem;
}

.img-list1 .cont-list-cont-felx:last-child p:last-child {
    color: #e58f22;
    padding: 0.1rem 0;
    border-radius: 0.1rem;
}

.img-list1 .btn1 {
    margin-top: 0.8rem;
    text-align: center;
}

.img-list1 .btn1 button {
    width: 80%;
    text-align: center;
    background: #e58f22;
    border: none;
    color: #fff;
    padding: 0.15rem 0;
    border-radius: 0.1rem;
}

.img-list1-border {
    border-bottom: 1px solid #f1f1f1;
    color: #333;
    margin-bottom: 0.2rem;
}

.img-list1-detail div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.2rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    box-sizing: border-box;
}

.img-list1font {
    font-size: 0.24rem;
}

.img-list1red {
    color: #e4393c;
}

.img-list1fang {
    font-size: 0.3rem;
    color: #e58f22;
}

.payDate111 {
    font-size: 0.36rem;
    padding-bottom: 0.1rem;
}
.payType111 {
    font-size: 0.32rem;
    color: #666;
    padding-bottom: 0.4rem;
    padding-top: 0.2rem;
}

.orgName111 {
    font-size: 0.3rem;
    padding-top: 0.15rem;

}
.aavv123 {
    border-bottom: #eee dashed 1px;
    margin-bottom: 0.4rem;
}

.aabcx {
    border-bottom: #eee solid 1px;
}
