.house {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    padding: 0.4rem 0;
    box-sizing: border-box;
    text-align: center;
    overflow-y: scroll;
}

.am-list-body::before {
    height: 0 !important;
}

.am-list-body::after {
    height: 0 !important;
}

.am-list-line::after {
    height: 0 !important;
}

.am-list-item .am-list-line {
    padding-right: 0;
    margin-right: 15px;
}

.am-list-line {
    border-bottom: 1px solid #f1f1f1 !important;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.house .bind-btn {
    width: 90%;
    text-align: center;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 0.4rem;
    border: 1px solid #e58f22;
    background: #e58f22;
    color: #fff;
    margin-top: 0.5rem;
}