.work-title {
    padding: 0.2rem 0.3rem;
    border-bottom: 1px solid #f1f1f1;
    font-size: 0.3rem;
    color: #333;
    font-weight: bold;
}

.work-p {
    padding: 0.2rem 0.3rem;
    border-bottom: 1px solid #f1f1f1;
}

.work-p p {
    padding-bottom: 0.2rem;
}

.TextareaItem2 {
    padding: 0.3rem;
}

.TextareaItem2 .am-list-item {
    border: 1px solid #f1f1f1;
    border-radius: 0.1rem;
}

.pingjia {
    padding: 0.2rem 0.3rem;
}

.pingjia p {
    padding-bottom: 0.2rem;
}

.pingjia p:last-child input {
    border: none;
    border-bottom: 1px solid #f1f1f1;
    display: inline-block;
    width: 80%;
    padding: 0 0.2rem;
    box-sizing: border-box;
}

.pingjia p:last-child span {
    display: inline-block;
    width: 15%;
}

.dv-star-rating-star i {
    font-size: 0.4rem;
}

.ping {
    font-size: 0.3rem;
    color: #666;
    margin-left: 0.2rem;
    position: relative;
    top: -0.1rem;
}

.gradeText {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gradeText span:last-child {
    color: #e4393c;
}

.work-jilu {
    display: flex;
    align-items: center;
    margin: 0 0.3rem;
    padding: 0.2rem;
    border-bottom: 1px dashed #f1f1f1;
}

.work-jilu img {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    margin-right: 0.2rem;
}

.work-jilu .work-right {
    width: 90%;
}

.work-jilu .work-right .work-right-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.2rem;
}

.work-jilu .work-right .work-right-1 p {
    color: #333;
}

.work-jilu .work-right .work-right-1 p:last-child {
    color: #999;
}

.work-jilu-title {
    padding: 0.2rem 0.5rem;
    border-bottom: 1px solid #ddd;
}

.work-title1 {
    padding-bottom: 0.3rem;
}